<div class="container">
    <h1>Register</h1>

    <div class="modal fade" id="modal-warning" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">로그인 에러</h4>
                </div>
                <div class="modal-body">
                	<ul>
                		<li ng-repeat="err in log.errMsgs">{{err}}</li>
                	</ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <form ng-submit="log.doRegister()">
        <div class="form-group">
            <label for="userID">Email address</label>
            <input type="email" class="form-control" id="userID" placeholder="Email" ng-model="log.registerData.userID">
        </div>
        <div class="form-group">
            <label for="userPW">Password</label>
            <input type="password" class="form-control" id="userPW" placeholder="Password" ng-model="log.registerData.userPW">
        </div>
        <div class="form-group">
            <label for="userPWC">Confirm Password</label>
            <input type="password" class="form-control" id="userPWC" placeholder="Password" ng-model="log.registerData.userPWC">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>