<nav class="navbar navbar-default">
<!-- <nav class="navbar navbar-default"> -->
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
        <a class="navbar-brand" href="/" ng-click="nav.clearActive()">{{nav.title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active: route.active}" ng-repeat="route in nav.menuRouteConfig" ng-click="nav.addActiveClassMenu(route)">
          <a href="{{route.href}}">{{route.name}} <span class="sr-only" ng-if="route.active">(current)</span></a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-click="nav.clearActive()"><a href="#">Action</a></li>
            <li ng-click="nav.clearActive()"><a href="#">Another action</a></li>
            <li ng-click="nav.clearActive()"><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li ng-click="nav.clearActive()"><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li ng-click="nav.clearActive()"><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <ul ng-if="!nav.userData.loggedIn" class="nav navbar-nav navbar-right">
        <li ng-class="{active: route.active}" ng-repeat="route in nav.logRouteConfig" ng-click="nav.addActiveClassLog(route)"><a href="{{route.href}}">{{route.name}} <span class="sr-only" ng-if="route.active">(current)</span></a></li>
      </ul>

      <ul ng-if="nav.userData.loggedIn" class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">안녕하세요 {{nav.userData.userID}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-click="nav.clearActive()"><a href="#">Action</a></li>
            <li ng-click="nav.clearActive()"><a href="#">Another action</a></li>
            <li ng-click="nav.clearActive()"><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li ng-click="nav.clearActive()"><a href="admin">Admin</a></li>
            <li role="separator" class="divider"></li>
            <li ng-click="nav.clearActive()"><a href="#" ng-click="nav.doLogout()">로그아웃</a></li>
          </ul>
        </li>
      </ul>

    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
